{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-xs-12 text-center">
        <h1>{{ 'Welcome to Rewards.gg'|trans }}</h1>
    </div>
    {#"Your content goes here"#}

{% endblock body %}
