/app/bootstrap.php.cache
.idea
*~
DS_S*
/web/assetic/
/web/bundles/
/web/uploads/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/nbproject
/composer.lock
