{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div> <h1>Create Account here and get rewarded !! </h1></div>
{% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
